* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #242424;
}

.menu-header {
  display: flex;
  background-color: #516f8b;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 50px;
}

.level-select-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  color: white;
  font-size: 30px;
}

.level-select {
  margin-top: 4rem;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.level, .level-content {
  color: white;
  padding-right: 15px;
  margin-left: 1.0rem;
  text-align: center; 
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.level img {
  width: 350px; 
  height: 300px; 
}

.level-content:hover {
  transform: scale(1.1); 
  opacity: 0.8; 
  cursor: pointer;
}


.game-img {
  width: 1500px; /* Set the desired width */
  height: 930px; /* Set the desired height */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 9rem;

}

.game-header {
    display: flex;
    background-color: #516f8b;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 50px;
}

.game-header-title {
  position: relative;
  background-color: #516f8b;
  left: 144px;
}
  
.timer {
  font-size: 50px;
  color: white;
  background-color: #516f8b;
  position: absolute; 
  right: 100px; 
  top: 25px;
}

.charImg {
  background-color: #516f8b;
  display: inline-block; 
  margin-right: 100px;
  position: relative;
  left: 50px;
  height: 70px;
  width: 100px;
}

.coords {
  color: white;
}

.charOption {
  background-color: white;
  list-style: none;
}


.dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999; 
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-menu ul li:hover {
  background-color: #f0f0f0;
}

.dropdown-menu ul li {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.dropdown-menu ul li:hover {
  background-color: #f0f0f0;
  transform: translateX(5px); 
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  width: 300px;
}

.charFound, .timeTaken, .close-Button {
  background-color: white;
  
}

.timeTaken {
  margin-bottom: 1rem;
}

input[type="text"], textarea {
  background-color : white; 
  margin-bottom: 1rem;

}

.leaderboard-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 4rem;

}

.leaderboard-button:hover {
  background-color: #0056b3;
}

.leaderboard-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.leaderboard-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 50px auto 0;
}

td{
  background-color: white;
}

.leaderboard-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
}


.leaderboard-table {
  background-color: white;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

/* Styles for table headers */
.leaderboard-table th {
  background-color: #007bff;
  color: #ffffff;
  text-align: left;
  padding: 10px;
}



.leaderboard-table td {
  padding: 10px;
}

form{
  background-color: white;
}

.username-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px; 
}

.username-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.username-input::placeholder {
  color: #999;
}

.close-Button {
  background-color: #007bff; 
  color: #ffffff; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.close-Button:hover {
  background-color: #0056b3; 
}